.display_block {
	display: block;
}
.display_none {
	display: none;
}
.opacity_1 {
	opacity: 1;
}
.clearfix {
	&:after {
		display: block;
		content: "";
		clear: both;
	}
}



.s-line{
	width: 100%;
	border-bottom: 1px solid #E4E8F0;
	display: none;
	margin: 30px 0px 15px;
}
.s-line_row{
	margin: 30px 10px 15px;
}



.s-color-green{
	
}


// display
.d-f-between{display: flex; -webkit-justify-content: space-between; justify-content: space-between;}
.d-f-align-center{-webkit-align-items: center; align-items: center;}
.d-f-wrap{-webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap;}

.d-inline-b{display: inline-block;}

.s-di-vertical-m{display: inline-block;vertical-align: middle;}

.s-di-ver-top{display: inline-block; vertical-align: top}

// text

.s-medium{
	font-weight: 500;
}
.s-fz12px{
	font-size: 12px;
}

.s-fz15px{
	font-size: 15px;
}
.s-t-a-right{
	text-align: right;
}
.s-t-a-left{
	text-align: left;
}


// IMAGE

.s-img-cover{
	object-fit:cover;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
	
// @media (max-width:991px) {
// 	.user-log__col_mobile{
// 		display: none;
// 	}
// }




// .point-event-opacity{
// 	pointer-events: none;
// 	opacity: 0;
// 	visibility: hidden;
// }

// @media (max-width:730px) {
// 	.s-line{
// 		display: block;
// 	}
// }