html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 100px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

.kv-monospace {
    text-align: left !important;
}

.block_service {
    margin: 0;
}

.block_service div {
    margin-left: 15px;
}

.block_resolutionService div .form-group,
.block_connectedService div .form-group {
    float: left;
    margin-right: 10px;
}

.block_resolutionService div .form-group:first-child,
.block_connectedService div .form-group:first-child {
    width: 49%;
}

.block_resolutionService div .form-group:nth-child(2),
.block_connectedService div .form-group:nth-child(2) {
    width: 45%;
}

.block_connectedService div .form-group,
.block_connectedService div .form-group {
    float: left;
    width: 96.3%;
}

.add_res_ser,
.add_con_ser {
    float: right;
}

.user-avatar {
    width: 170px;
    height: 170px;
}

.user-avatar img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}

.background-loader {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background: rgba(0, 0, 0, .8);
}

.blur {
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}

.loader,
.loader:after,
.loader:before {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: "";
    position: absolute;
    border-radius: 50%;
}

.loader {
    display: none;
    position: fixed;
    width: 100px;
    height: 100px;
    margin: auto;
    -webkit-animation: spin 4s linear infinite;
    animation: spin 4s linear infinite;
}

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
        -webkit-filter: hue-rotate(360deg);
        filter: hue-rotate(360deg);
    }
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
        -webkit-filter: hue-rotate(360deg);
        filter: hue-rotate(360deg);
    }
}

.loader:before {
    border: 5px solid transparent;
    border-bottom: 5px solid orange;
    border-left: 5px solid orange;
    -webkit-animation:spin1 1s linear infinite;
    animation:spin1 1s linear infinite;
}

.loader:after {
    border: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid transparent;
    -webkit-animation: spin2 1s linear infinite;
    animation: spin2 1s linear infinite;
}

@-webkit-keyframes spin1 {
    20% {
        -webkit-transform: rotate(150deg);
        transform: rotate(150deg);
    }
    40% {
        -webkit-transform: rotate(300deg);
        transform: rotate(300deg);
    }
    80% {
        -webkit-transform: rotate(300deg);
        transform: rotate(300deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spin1 {
    20% {
        -webkit-transform: rotate(150deg);
        transform: rotate(150deg);
    }
    40% {
        -webkit-transform: rotate(300deg);
        transform: rotate(300deg);
    }
    80% {
        -webkit-transform: rotate(300deg);
        transform: rotate(300deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-webkit-keyframes spin2 {
    0% {
        -webkit-transform: rotate(-30deg);
        transform: rotate(-30deg);
    }
    20% {
        -webkit-transform: rotate(-30deg);
        transform: rotate(-30deg);
        border-color: transparent transparent transparent transparent;
    }
    21% {
        border-color: orange orange transparent transparent;
    }
    40% {
        -webkit-transform: rotate(-30deg);
        transform: rotate(-30deg);
    }
    60% {
        -webkit-transform: rotate(120deg);
        transform: rotate(120deg);
        border-color: orange orange transparent transparent;
    }
    61% {
        border-color: transparent transparent transparent transparent;
    }
    80% {
        -webkit-transform: rotate(270deg);
        transform: rotate(270deg);
    }
    100% {
        -webkit-transform: rotate(330deg);
        transform: rotate(330deg);
    }
}

@keyframes spin2 {
    0% {
        -webkit-transform: rotate(-30deg);
        transform: rotate(-30deg);
    }
    20% {
        -webkit-transform: rotate(-30deg);
        transform: rotate(-30deg);
        border-color: transparent transparent transparent transparent;
    }
    21% {
        border-color: orange orange transparent transparent;
    }
    40% {
        -webkit-transform: rotate(-30deg);
        transform: rotate(-30deg);
    }
    60% {
        -webkit-transform: rotate(120deg);
        transform: rotate(120deg);
        border-color: orange orange transparent transparent;
    }
    61% {
        border-color: transparent transparent transparent transparent;
    }
    80% {
        -webkit-transform: rotate(270deg);
        transform: rotate(270deg);
    }
    100% {
        -webkit-transform: rotate(330deg);
        transform: rotate(330deg);
    }
}

.discussion__content {
    padding: 0 65px;
    height: 445px;
    overflow: hidden;
    -ms-overflow-y: auto;
    overflow-y: auto;
    background: rgba(228, 232, 240, .3);
}

.discussion__content::-webkit-scrollbar {
    width: 4px;
}

.discussion__content::-webkit-scrollbar-thumb {
    background: #b0bac9;
    border-radius: 5px;
}

.discussion__list {
    padding: 20px 0;
    max-width: 555px;
    width: 100%;
    margin: 0 auto;
    list-style: none;
}

.discussion__item {
    padding: 5px 0;
}

.discussion__item_right {
    text-align: right;
}

.discussion__data-message {
    display: inline-block;
    text-align: left;
}

.discussion__name {
    font-size: 14px;
    color: #8097b1;
    padding-bottom: 5px;
    margin-bottom: 0;
}

.discussion__message {
    position: relative;
}

.discussion__sms {
    position: relative;
    padding: 20px 30px 30px 20px;
    max-width: 455px;
    min-width: 190px;
    margin-top: 5px;
}

.discussion__data-message a {
    font-size: 14px;
    -webkit-text-decoration-line: underline;
    text-decoration-line: underline;
    color: #2e384d;
    padding-left: 20px;
}

.discussion__data-message a:hover {
    text-decoration: none;
}

.discussion__sms p {
    font-size: 15px;
}

.discussion_data_time {
    position: absolute;
    bottom: 10px;
    right: 25px;
    font-weight: 500;
    font-size: 11px !important;
    color: #e4e8f0 !important;
    letter-spacing: 2.2px;
}

.discussion__sms:before {
    content: attr(data-time-sms);
    position: absolute;
    bottom: 10px;
    right: 25px;
    font-weight: 500;
    font-size: 11px;
    color: #e4e8f0;
    letter-spacing: 2.2px;
}

.discussion__sms:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    bottom: -7px;
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
}

.discussion__avatar {
    position: absolute;
    bottom: -7px;
    background: #8798ad;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    overflow: hidden;
}

.discussion__avatar img {
    top: 0;
    left: 0;
    position: absolute;
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.discussion__item_right .discussion__sms {
    background: #15b04a;
    border-radius: 17px 17px 0 17px;
}

.discussion__item_right .discussion__sms p {
    color: #fff;
}

.discussion__item_right .discussion__sms:after {
    right: 0;
    border-right: 8px solid #15b04a;
    border-left: 6px solid transparent;
}

.discussion__item_right .discussion__avatar {
    right: -50px;
}

.discussion__item_right .discussion__name {
    text-align: right;
}

.discussion__item_left .discussion__sms {
    background: #fff;
    border-radius: 17px 17px 17px 0;
}

.discussion__item_left .discussion__sms:after {
    left: 0;
    border-right: 6px solid transparent;
    border-left: 8px solid #fff;
}

.discussion__item_left .discussion__sms:before {
    color: #8097b1;
}

.discussion__item_left .discussion__avatar {
    left: -50px;
}

.discussion__uploaded-photos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 -2.5px;
    padding-top: 40px;
    padding-bottom: 10px;
}

.discussion__col-12,
.discussion__col-3,
.discussion__col-4,
.discussion__col-6 {
    padding:0 2.5px;
}

.discussion__col-12 {
    width: 100%;
}

.discussion__col-6 {
    width: 50%;
}

.discussion__col-4 {
    width: 33.33%;
}

.discussion__col-3 {
    width: 25%;
}

.discussion__uploaded-photo {
    position: relative;
    padding-top: calc(55% * 100 / 95);
}

.discussion__uploaded-photo img {
    top: 0;
    left: 0;
    position: absolute;
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.appeal {
    text-align: left;
}

.appeal__wrapp {
    width: 100%;
}

.appeal__wrapp_mw635 {
    max-width: 635px;
}

.appeal__wrapp_mw635 .appeal__button {
    display: inline-block;
}

.appeal__wrapp_mw655 {
    max-width: 655px;
}

.appeal__wrapp_main {
    max-width: 460px;
    width: 100%;
    padding: 0 10px;
    margin: 45px auto 30px auto;
}

.appeal__wrapp_p2 {
    padding: 45px 15px 35px 75px;
}

.appeal__wrapp_pt30 {
    margin: 0 auto;
}

.appeal__form {
    padding: 35px 0 120px 0;
}

@media (max-width: 1199px) {
    .appeal__form_massages {
        padding: 35px 15px 90px 15px;
    }
}

.textarea {
    background: rgba(228, 232, 240, .3);
    border-radius: 5px;
    font-size: 15px;
    border: 1px solid rgba(149, 177, 158, .3);
    height: 150px;
    display: block;
    color: #2e384d;
    padding: 15px;
    font-family: Rubik, sans-serif;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
    resize: none;
    max-width: 655px;
    width: 100%;
    margin: 0 auto;
}

.textarea::-webkit-input-placeholder {
    font-size: 14px;
    color: #8798ad;
}

.textarea:-moz-placeholder {
    font-size: 14px;
    color: #8798ad;
}

.textarea::-moz-placeholder {
    font-size: 14px;
    color: #8798ad;
}

.textarea:-ms-input-placeholder {
    font-size: 14px;
    color: #8798ad;
}

.textarea_mb20 {
    margin-bottom: 20px;
}

.attach {
    display: inline-block;
    cursor: pointer;
}

.attach__nesting {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
}

.attach__input {
    display: none!important;
}

.attach__wrapp-label {
    position: relative;
    width: 200px;
    height: 25px;
    margin-bottom: 20px;
}

.attach__label {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.attach__icon {
    width: 25px;
    height: 22px;
    background: url(../images/icon/icon-attach.svg) no-repeat left/contain;
    padding-left: 35px;
}

.attach__text {
    font-size: 15px;
    color: #8798ad;
}

@media (max-width: 430px) {
    .attach__wrapp-label_messages,
    .attach_messages {
        width: 25px;
        -ms-order: -1;
        -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
        order: -1;
    }
    .attach__wrapp-label_messages .attach__icon,
    .attach_messages .attach__icon {
        padding: 0;
    }
    .attach__wrapp-label_messages .attach__text,
    .attach_messages .attach__text {
        display: none!important;
    }
    .attach__wrapp-label_messages{
        margin: 0;
    }
}

.button {
    background: #15b04a;
    color: #fff;
    font-size: 15px;
    font-weight: 700;
    border-radius: 5px;
    height: 40px;
    line-height: 40px;
    display: block;
    width: 100%;
    outline: 0;
    border: none;
    cursor: pointer;
    text-align: center;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}

.button:hover {
    background: #129940;
}

@media (max-width: 430px) {
    .button_small {
        position: relative;
        width: 40px;
        min-width: 40px;
        height: 40px;
        background: #15b04a;
        font-size: 0;
    }

    .button_small:after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        width: 16px;
        height: 16px;
        background: url(../images/icon/icon-small-btn-arrow.svg) no-repeat center/cover;
    }
}

.button_width-200px {
    max-width: 200px;
}
