.add-something{
	width: calc(100%);
}


.add-something__text{
	font-family:$rubik;
	font-size: 12px;
	text-transform: uppercase;
	color: $gray;
	padding-left: 8px;
	cursor: pointer;
}

.add-something-support{
	width: 100%;
	padding: 25px 40px 0px 40px;
	display: flex;
	-webkit-justify-content: space-between;
	        justify-content: space-between;
	cursor: pointer;
	.add-something__text{
		padding-left: 0;
	}
}

.add-something__box{
	display: flex;
	-webkit-align-items: center;
	        align-items: center;
}

.add-something__box_mobile{
	display: none;
}

.add-something__text_mobile{
	display: block;
	font-weight: 300;
	font-size: 16px;
	color: $dark;
}
@media (max-width: 1199px) {
	.add-something-support{
		padding: 25px 20px 5px 20px;
	}
}

@media (max-width:991px) {
	.add-something-support{
		padding: 25px 40px 5px 40px;
		-webkit-align-items: self-start;
		        align-items: self-start;
	}
	.add-something__box_mobile{
		display: flex;
	}
}

@media (max-width:730px) {
	
}
@media (max-width:580px) {
	.add-something-support{
		padding: 25px 20px 5px 20px;
	}
}

@media (max-width:530px) {

}

@media (max-width:380px) {


}