.attach{
	display: inline-block;
	cursor: pointer;
}

.attach__nesting{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 5;
}

.attach__icon{

}

.attach__text{

}
//
.attach__input{
	display: none;
}

.attach__wrapp-label{
	position: relative;
	width: 200px;
	height: 25px;
	margin-bottom: 20px;
}

.attach__label{
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	cursor: pointer;
}
.attach__icon{
	width: 25px;
	height: 22px;
	background: url(../images/icon/icon-attach.svg) no-repeat left/contain;
	padding-left: 35px;
}
.attach__text{
	font-size: 15px;
	color:$gray;
}


@media (max-width:430px) {
	.attach_messages,.attach__wrapp-label_messages{
		width: 25px;
		-webkit-order: -1;
		    -ms-order: -1;
		        order: -1;
		.attach__icon{
			padding: 0;
		}
		.attach__text{
			display: none !important;
		}
	}
	.attach__wrapp-label_messages{
		margin: 0;
	}

}
