.burger{
	height: 80px;
	display: block;
	width: 100%;
	position: relative;
	cursor: pointer;
	margin: 0 0 0 auto;
	transition:all 0.3s;
	&:hover{
		background: rgba(#000,0.01);
		span{
			&:last-child{
				transform:translateX(7px);
			}
		}
	}

	&.active{
		width: 80px;
		
		span{
			&:last-child{
				transform:translateX(7px);
			}
		}
		&:hover{
			span{
				&:last-child{
					transform:translateX(0px);
				}
			}
		}
	}
}

.burger__box{
	width: 18px;
	height: 16px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform:translate(-50%,-50%);
	span{
		height: 2px;
		background: #BFC5D2;
		width: 100%;
		position: absolute;
		transition:all 0.3s;
		&:first-child{
			top: 0;
		}
		&:nth-child(2){
			top: 0;
			bottom: 0;
			margin: auto 0;
		}
		&:last-child{
			bottom: 0;
			width: 11px;
		}
	}
}

.close-menu{
	width: 25px;
	height: 25px;
	position: relative;
	&:before,
	&:after{
		content: "";
		top: 50%;
		left: 50%;
		position: absolute;
		
		width: 2px;
		height:15px;
		background: #BFC5D2;
		

	}
	&:before{
		transform:translate(-50%,-50%) rotate(45deg);
	}
	&:after{
		transform:translate(-50%,-50%) rotate(-45deg);
	}
}


@media (max-width:991px) {
	.burger{
		height: 50px;
		width: 50px;
		margin: 0;
	}
	.burger.active{
		width: 50px;
	}
}