.button{
	background: $green;
	color: #FFF;
	font-size: 15px;
	font-weight: 700;
	border-radius: 5px;
	height: 40px;
	line-height: 40px;
	display: block;
	width: 100%;
	outline: none;
	border: none;
	cursor: pointer;
	text-align: center;
	transition:0.3s;
	&:hover{
		background: darken($green,5%);
	}
}

.button_width-200px{
	max-width: 200px;
}

.button_width-270px{
	max-width: 270px;
	margin-left: 1px;
}

