.declaration{
	padding-top: 35px;
}

.declaration__text{
	font-size: 15px;
	color: $dark;
	padding-bottom: 15px;
}

.declaration__link{
	font-size: 12px;
	text-transform: uppercase;
	color: $clay;
	&:hover{
		text-decoration: underline;
	}
}

.declaration_support{
	padding: 0px;
}

@media (max-width:580px) {
	.declaration__text{
		font-size: 14px;
	}
}
