.field-select{
	// .ss-multi-selected {
	// 	.ss-open-below{
	// 		height: 40px;
	// 	}
	// }
	.ss-multi-selected{
		padding: 0 0 0 5px;
		min-height: 40px;
		background: rgba($gray-field,0.3);
		.ss-values{
			.ss-value{
				background: $gray-field;
				.ss-value-text{
					color: rgba($dark, 0.5);
				}
				.ss-value-delete{
					color: $dark;
					font-size: 16px;
				}
			}
			.ss-disabled{
				color: rgba($dark, 0.5);
			}
		}
		.ss-add{
			margin: 0;
			position: relative;
			&:before{
				content: "";
				position: absolute;
				padding: 4px;
				border: solid $dark;
				transition:0.3s;
				border-width: 0px 0px 1px 1px;
				right: 15px;
				top: calc(50% - 1px);
				transform:translate(0,-50%) rotate(-45deg);
			}
			
			.ss-plus{
				display: none;
			}
		}
		&.ss-open-below{
			.ss-add{
				&:before{
					top: calc(50% + 2px);
					transform:translate(0,-50%) rotate(135deg);
				}
			}
		}
	}
	.ss-content{
		.ss-list{
			background: $white;
			.ss-option{
				text-indent: 15px;
				padding: 10px 10px;
				font-size: 15px; 
				color: rgba($dark, 0.5);
				&:hover{
					color: $dark;
					background: darken($white,5%) ;
				}
			}
		}
	}
}
