.jsx-select{
	// z-index: 10;
	cursor: pointer;
	position: relative;
	text-align: left;
	width: 100%;
	max-width: 360px;
	display: inline-block;
	height: 45px;
	// padding-left: 20px; 
	// padding-right: 42px;
	font-size: 16px;
	margin-bottom: 10px;
	background: #FFFFFF;
	border: 1px solid #BCBCBC;
	border-radius: 4px;
	
	// font-family: $rubik;
	&:last-child{
		margin-bottom: 0;
	}
}
.jsx-select:before{
	content: '';
	
  	position: absolute;
    top: 50%;
    right: 15px;
    transform: translate(0%, -50%);
    width: 0;
    height: 0;
    border-top: 9px solid #BCBCBC;
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
	 transition:0.3s;
}
.jsx-select.active{
	z-index: 11;
}
.jsx-select.active:before{
	
}
.jsx-select__selected{
	line-height: 40px;
	width: 100%;
	white-space: nowrap; /* Запрещаем перенос строк */
    overflow: hidden; /* Обрезаем все, что не помещается в область */
    text-overflow: ellipsis; 
    display: block;
	>span{
		    display: flex; 
    -webkit-align-items: center;
            align-items: center;
    -webkit-justify-content: space-between;
            justify-content: space-between;
	}
	
}

.jsx-select__list{
	display: none;
	left: 0;
	position: absolute;
	background: white;
	box-shadow: 0px 0px 6px rgba(0,0,0,.5);
	width: 100%;
	overflow-y: auto;
	overflow-x: hidden;
	
}
.jsx-select__list.top{
	top: 100%;
}
.jsx-select__list.bottom{
	bottom: 100%;
}

.jsx-select li{
	cursor: pointer;
	white-space: nowrap; /* Запрещаем перенос строк */
	overflow: hidden; /* Обрезаем все, что не помещается в область */
	text-overflow: ellipsis; 
	>span{
		display: flex;
	-webkit-align-items: center;
	        align-items: center;
	-webkit-justify-content: space-between;
	        justify-content: space-between;
	
	}
}
.jsx-select li:hover{
	// background: rgba($gray-field,0.3);
}
.jsx-select li.selected{
	cursor: default;
	// background: rgba($gray-field,0.3);
}