// fonts


$rubik: 'Rubik', sans-serif;








// colors
$dark:#2E384D;
$light-pink:#FFFBFC;
$gray:#8798AD;
$green:#15B04A;
$white: #FFFFFF;
$gray-field:#E4E8F0;
$light-gray:#B0BAC9;
$gray-2:#979797;

